In [ ]:
### This is a vignette on how to use the singletCode package

In [1]:
# Install singletCode package

!pip3 install singletCode

from singletCode import check_sample_sheet, get_singlets

Collecting singletCode
  Downloading singletCode-1.1.0-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: scipy>=1.1.0 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from singletCode) (1.11.3)
Requirement already satisfied: pandas>=0.23.4 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from singletCode) (2.1.1)
Requirement already satisfied: tqdm>=4.28.1 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from singletCode) (4.65.0)
Requirement already satisfied: matplotlib>=3.0.2 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from singletCode) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (1.26.0)
Requirement already satisfied: packaging>=20.0 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.2->singletCode) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from pandas>=0.23.4->singletCode) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from pandas>=0.23.4->singletCode) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/mem3579/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.2->singletCode) (1.16.0)
Downloading singletCode-1.1.0-py3-none-any.whl (10 kB)
Installing collected packages: singletCode
Successfully installed singletCode-1.1.0

[notice] A new release of pip is available: 24.1 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [3]:
# Read in input sheet

import pandas as pd
path = "/Volumes/fsmresfiles/Basic_Sciences/CDB/GoyalLab/People/MadelineMelzer/ZhangMelzerEtAl/data/vignetteTests/singletCodePackageVignetteData"
pathToInputSheet = f"{path}/inputFiles/JiangEtAlSubset_InputSheet.csv"
df = pd.read_csv(pathToInputSheet)

In [4]:
# Check formatting of input sheet

check_sample_sheet(df)

The sample sheet provided can be used as input to get_singlets to get a list of singlets identified.

In [5]:
# Identify singlets from input sheet

outputPath = f"{path}/outputFiles/"
cellLabelList, stats = get_singlets(df, dataset_name= "JiangEtAlSubset", save_all_singlet_categories = True, output_path=outputPath)

#Saving the stats and the singlet list

stats.to_csv(f"{outputPath}/JiangEtAlSubset_stats.csv")
cellLabelList[cellLabelList['label'] == "Singlet"].to_csv(f"{outputPath}/JiangEtAlSubset_singletList.csv")

INFO: Raw data counts:
sample
1    1306
Name: count, dtype: int64
Total cells for sample 1: 39
INFO: Using ratio based filtering.
Current Sample Adjusted UMI cutoff: 2

100%|██████████| 122/122 [00:00<00:00, 33188.81it/s]

All singlets identified with multiple barcodes are unique? True
Total Singlets: 10
Total Multiplets: 9

In [7]:
#Understanding the output files

import pandas as pd
df[df['cellID'] == 'TGTAAGCGTCTCGCGA'].groupby(['cellID', 'barcode', 'sample']).size().reset_index(name='count').sort_values('count', ascending=False).reset_index(drop=True)

,cellID,barcode,sample,count
0,TGTAAGCGTCTCGCGA,ATTGTTGTTGCAGATGCAGTTGATGCTGATGAAGTTGTACAAGGTC...,1,99
1,TGTAAGCGTCTCGCGA,ATTCGACTTGATCTTCTAGAACATGGTGAACTAGCAGGTGCTGATC...,1,7
2,TGTAAGCGTCTCGCGA,ATACTAGCTCAAGCAGTACTACTACTTCGTCTTCATGCAGAACAAC...,1,6
3,TGTAAGCGTCTCGCGA,ATAGATGCACTTGGTGGTCGAGTTCTAGTTGTAGCTGATCGTCCAG...,1,6
4,TGTAAGCGTCTCGCGA,ATTCGACCAGAACCACATGCAGTTCAACGTGTTCGAGGTGTAGATG...,1,6
...,...,...,...,...
82,TGTAAGCGTCTCGCGA,ATAGTAGTAGCTGTTGGTGTTGAAGTACTTCCTCTTGCTCCTCGTG...,1,1
83,TGTAAGCGTCTCGCGA,ATAGTAGATGAACGTCCTCTACATGTTCTTCGTCAAGTACCAGCAC...,1,1
84,TGTAAGCGTCTCGCGA,ATAGTACATGGTGGACCTGGACTTCGAGATGGAGCTCTTGTTCCTG...,1,1
85,TGTAAGCGTCTCGCGA,ATAGGAGTAGTTGGTGATGGTCTACCAGAAGGTGAAGGTGGAGAAG...,1,1
86,TGTAAGCGTCTCGCGA,GGTGCTCAACTTCTTGTTGTACTTCTAGTTGATGTTGGACGTCATC...,1,1

In [8]:
(df[df['cellID'] == 'AGGCTGCTCTTTCCGG']
 .groupby(['cellID', 'barcode', 'sample'])
 .size()
 .reset_index(name='count')
 .sort_values('count', ascending=False)
 .query('count >= 2')
 .reset_index(drop=True)
)

,cellID,barcode,sample,count
0,AGGCTGCTCTTTCCGG,ATAGGAGTAGTTGGTGATGGTCTACCAGAAGGTGAAGGTGGAGAAG...,1,13
1,AGGCTGCTCTTTCCGG,ATTGAACGTGGAGTTGAACTTGTACTACGAGTACGTCTAGAACATG...,1,2

In [9]:
(df[df['cellID'] == 'GAGGGATGTAACATCC']
 .groupby(['cellID', 'barcode', 'sample'])
 .size()
 .reset_index(name='count')
 .sort_values('count', ascending=False)
 .query('count >= 2')
 .reset_index(drop=True)
)

,cellID,barcode,sample,count
0,GAGGGATGTAACATCC,ATAGGAGTAGTTGGTGATGGTCTACCAGAAGGTGAAGGTGGAGAAG...,1,12
1,GAGGGATGTAACATCC,ATTGAACGTGGAGTTGAACTTGTACTACGAGTACGTCTAGAACATG...,1,2